# App
APP_PORT=8000

# Database
POSTGRES_IMAGE_TAG=14
POSTGRES_PORT=5432
POSTGRES_DB=task_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/task_manager

# RabbitMQ
RABBITMQ_IMAGE_TAG=3-management
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
TASK_QUEUE_NAME=tasks_queue

# CORS
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
