# App
APP_PORT=8000

# Database
POSTGRES_IMAGE_TAG=14
POSTGRES_PORT=5432
POSTGRES_DB=task_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/task_manager

# CORS
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
